<!-- This is a reactive forms template, with a form array of 'steps' that allows for the dynamic creation of new forms to add new steps. The index is included as 'i' to enable the addition/removal of forms at certain places in the array -->

<app-back-button [link]="id ? 'recipes/' + id : 'recipes'"></app-back-button>
<app-form-wrapper [title]="'Add Steps'">
  <form
    [formGroup]="addStepsForm"
    (ngSubmit)="isUpdate ? onUpdate(addStepsForm) : onSubmit(addStepsForm)"
  >
    <div
      formArrayName="steps"
      *ngFor="let step of addStepsForm.get('steps').controls; let i = index"
      class="card border-dark mb-1 p-2"
    >
      <div [formGroupName]="i" class="row align-items-center">
        <!-- ************************************* Text **************************************** -->
        <div class="col-md-7">
          <app-input-wrapper [inputTitle]="'Step text*'">
            <input
              formControlName="text"
              class="form-control form-control-sm"
              required
              maxlength="150"
            />
          </app-input-wrapper>
        </div>
        <!-- ************************************* Title **************************************** -->
        <div class="col-md-3">
          <app-input-wrapper [inputTitle]="'Step Title (optional)'">
            <input
              formControlName="title"
              class="form-control form-control-sm"
              maxlength="50"
            />
          </app-input-wrapper>
        </div>
        <!-- ************************************* BUTTONS **************************************** -->
        <div class="col-md-2 text-center">
          <app-input-buttons
            [index]="i"
            (onAdd)="addField($event, i)"
            (onRemove)="removeField($event, i)"
          ></app-input-buttons>
        </div>
      </div>
    </div>

    <app-submit-button [isUpdate]="isUpdate"></app-submit-button>
  </form>
</app-form-wrapper>
