<!-- The varibables declared with # are how the form data gets sent to (and recieved back from) the db -->
<!-- This inputs in this file are: 
  - #name (req)
  - #dateVisited (req)
  - #website 
  location: 
  - #city (req)
  - #country (req) 
  comments: 
  - #tagLine, 
  - #mainComment (req)
  - #tasteComment
  - #serviceComment
  - #atmosphereComment
  ratings: 
  - #tasteRating (req)
  - #serviceRating (req)
  - #atmosphereRating (req)
 -->

<div class="d-flex bd-highlight mb-2">
  <div class="p-1 bd-highlight">
    <button type="button" class="btn btn-light btn-sm" routerLink="/reviews">
      Back
    </button>
  </div>
</div>
<!-- TODO Find a way to avoid so much repetition -->
<div class="card bg-light mb-5">
  <div class="card-header text-white">
    Edit review
  </div>
  <div class="card-body">
    <form #reviewForm="ngForm" (ngSubmit)="onSubmit(reviewForm)">
      <!-- ************************************* NAME **************************************** -->
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <label for="name">Name of Place *</label>
            <input
              type="text"
              [(ngModel)]="review.name"
              #name="ngModel"
              [ngClass]="{
                'is-invalid': name.errors && name.touched
              }"
              class="form-control"
              id="name"
              name="name"
              aria-describedby="name"
              placeholder="Name"
              required
              maxlength="50"
            />
            <div [hidden]="!name.errors?.required" class="invalid-feedback">
              Name is required
            </div>
          </div>
        </div>
        <!-- ************************************* DATE **************************************** -->
        <div class="col-md-4">
          <div class="form-group">
            <label for="dateVisited">Date *</label>
            <input
              type="text"
              class="form-control text-dark"
              id="dateVisited"
              name="dateVisited"
              aria-describedby="dateVisited"
              placeholder="Date Visited"
              #dateVisited="ngModel"
              [(ngModel)]="review.dateVisited"
              [ngClass]="{
                'is-invalid': dateVisited.errors && dateVisited.touched
              }"
              bsDatepicker
              [bsConfig]="{
                isAnimated: true,
                dateInputFormat: 'DD-MM-YYYY',
                containerClass: 'theme-blue'
              }"
              autocomplete="off"
              required
            />
            <div
              [hidden]="!dateVisited.errors?.required"
              class="invalid-feedback"
            >
              Date is required
            </div>
            <div
              [hidden]="!dateVisited.errors && !dateVisited.errors?.required"
              class="invalid-feedback"
            >
              Use DD-MM-YYYY date format
            </div>
          </div>
        </div>
      </div>
      <!-- ************************************* LOCATION **************************************** -->
      <label>Location *</label>
      <div class="row">
        <!-- City -->
        <div class="col-md-6">
          <div class="form-group">
            <input
              type="text"
              [(ngModel)]="review.city"
              #city="ngModel"
              [ngClass]="{
                'is-invalid': city.errors && city.touched
              }"
              class="form-control"
              id="city"
              name="city"
              aria-describedby="city"
              placeholder="City"
              required
              minlength="2"
              maxlength="20"
            />
            <div [hidden]="!city.errors?.required" class="invalid-feedback">
              City is required
            </div>
            <div
              [hidden]="!city.errors?.minlength && !city.errors?.maxlength"
              class="invalid-feedback"
            >
              Please use 2-20 characters
            </div>
          </div>
        </div>
        <!-- Country -->
        <div class="col-md-6">
          <div class="form-group">
            <input
              type="text"
              [(ngModel)]="review.country"
              #country="ngModel"
              [ngClass]="{
                'is-invalid': country.errors && country.touched
              }"
              class="form-control"
              id="country"
              name="country"
              aria-describedby="country"
              placeholder="Country"
              required
              minlength="2"
              maxlength="20"
            />
            <div [hidden]="!country.errors?.required" class="invalid-feedback">
              Country is required
            </div>
            <div
              [hidden]="
                !country.errors?.minlength && !country.errors?.maxlength
              "
              class="invalid-feedback"
            >
              Use 2-20 characters
            </div>
          </div>
        </div>
      </div>
      <!-- ************************************* WEBSITE **************************************** -->
      <div class="form-group">
        <label for="website">Website</label>
        <small id="websiteHelp" class="form-text text-muted"
          >Does the place have its own website?</small
        >
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">https://</span>
          </div>
          <input
            type="url"
            [(ngModel)]="review.website"
            #website="ngModel"
            [ngClass]="{
              'is-invalid': website.errors && website.touched
            }"
            class="form-control"
            id="website"
            name="website"
            aria-describedby="website"
            placeholder="Website"
            minlength="3"
            maxlength="40"
          />
          <div
            [hidden]="!website.errors?.minlength && !website.errors?.maxlength"
            class="invalid-feedback"
          >
            Use 3-40 characters
          </div>
        </div>
      </div>
      <!-- ************************************* TAGLINE **************************************** -->
      <div class="form-group">
        <label for="tagLine">Tagline</label>
        <small id="tagLineHelp" class="form-text text-muted mb-3"
          >Add a short summary of the review (max 150 chars)</small
        >
        <textarea
          [(ngModel)]="review.tagLine"
          #tagLine="ngModel"
          [ngClass]="{
            'is-invalid': tagLine.errors && tagLine.touched
          }"
          class="form-control"
          id="tagLine"
          name="tagLine"
          aria-describedby="tagLine"
          placeholder="Tagline"
          rows="2"
          maxlength="150"
        ></textarea>
      </div>
      <!-- ************************************* MAIN COMMENT **************************************** -->
      <div class="form-group">
        <label for="mainComment">Comment *</label>
        <textarea
          [(ngModel)]="review.mainComment"
          #mainComment="ngModel"
          [ngClass]="{
            'is-invalid': mainComment.errors && mainComment.touched
          }"
          class="form-control"
          id="mainComment"
          name="mainComment"
          aria-describedby="mainComment"
          placeholder="Comment"
          required
          rows="3"
          maxlength="9999"
        ></textarea>
        <div [hidden]="!mainComment.errors?.required" class="invalid-feedback">
          Comment is required
        </div>
      </div>
      <!-- ************************************* RATINGS **************************************** -->
      <label>Ratings</label>
      <small id="ratingHelp" class="form-text text-muted mb-3"
        >Add a rating out of 10 and a short comment (max 100 chars)</small
      >
      <div class="row">
        <!-- ************************************* TASTE **************************************** -->
        <div class="col-md-4">
          <div class="form-group">
            <small class="form-text text-muted">Taste *</small>
            <input
              type="number"
              [(ngModel)]="review.tasteRating"
              #tasteRating="ngModel"
              [ngClass]="{
                'is-invalid': tasteRating.errors && tasteRating.touched
              }"
              class="form-control"
              id="tasteRating"
              name="tasteRating"
              aria-describedby="tasteRating"
              placeholder="Taste"
              required
              pattern="{{ pattern }}"
              max="10"
              min="0"
            />
            <div
              [hidden]="!tasteRating.errors?.required"
              class="invalid-feedback"
            >
              Rating is required
            </div>
            <div
              [hidden]="!tasteRating.errors?.pattern"
              class="invalid-feedback"
            >
              Use numbers 0-10 without decimals
            </div>
          </div>
          <!-- Comment  -->
          <div class="form-group">
            <textarea
              [(ngModel)]="review.tasteComment"
              #tasteComment="ngModel"
              class="form-control"
              id="tasteComment"
              name="tasteComment"
              aria-describedby="tasteComment"
              placeholder="Comment on taste"
              rows="2"
              maxlength="150"
            ></textarea>
          </div>
        </div>
        <!-- ************************************* SERVICE **************************************** -->
        <div class="col-md-4">
          <div class="form-group">
            <small class="form-text text-muted">Service *</small>
            <input
              type="number"
              [(ngModel)]="review.serviceRating"
              #serviceRating="ngModel"
              [ngClass]="{
                'is-invalid': serviceRating.errors && serviceRating.touched
              }"
              class="form-control"
              id="serviceRating"
              name="serviceRating"
              aria-describedby="serviceRating"
              placeholder="Service"
              required
              pattern="{{ pattern }}"
              max="10"
              min="0"
            />
            <div
              [hidden]="!serviceRating.errors?.required"
              class="invalid-feedback"
            >
              Rating is required
            </div>
            <div
              [hidden]="!serviceRating.errors?.pattern"
              class="invalid-feedback"
            >
              Use numbers 0-10 without decimals
            </div>
          </div>
          <!-- Comment  -->
          <div class="form-group">
            <textarea
              [(ngModel)]="review.serviceComment"
              #serviceComment="ngModel"
              class="form-control"
              id="serviceComment"
              name="serviceComment"
              aria-describedby="serviceComment"
              placeholder="Comment on service"
              rows="2"
              maxlength="150"
            ></textarea>
          </div>
        </div>
        <!-- ************************************* ATMOSPHERE **************************************** -->
        <div class="col-md-4">
          <div class="form-group">
            <small class="form-text text-muted">Atmosphere *</small>
            <input
              type="number"
              [(ngModel)]="review.atmosphereRating"
              #atmosphereRating="ngModel"
              [ngClass]="{
                'is-invalid':
                  atmosphereRating.errors && atmosphereRating.touched
              }"
              class="form-control"
              id="atmosphereRating"
              name="atmosphereRating"
              aria-describedby="atmosphereRating"
              placeholder="Atmosphere"
              required
              pattern="{{ pattern }}"
              max="10"
              min="0"
            />
            <div
              [hidden]="!atmosphereRating.errors?.required"
              class="invalid-feedback"
            >
              Rating is required
            </div>
            <div
              [hidden]="!atmosphereRating.errors?.pattern"
              class="invalid-feedback"
            >
              Use numbers 0-10 without decimals
            </div>
          </div>
          <!-- Comment  -->
          <div class="form-group">
            <textarea
              [(ngModel)]="review.atmosphereComment"
              #atmosphereComment="ngModel"
              class="form-control"
              id="atmosphereComment"
              name="atmosphereComment"
              aria-describedby="atmosphereComment"
              placeholder="Comment on atmosphere"
              rows="2"
              maxlength="150"
            ></textarea>
          </div>
        </div>
      </div>
      <!-- ************************************* SUBMISSION **************************************** -->
      <flash-messages></flash-messages>
      <button type="submit" class="btn btn-success btn-sm btn-block">
        Update
      </button>
    </form>
  </div>
</div>
