<app-back-button [link]="'reviews/' + id"></app-back-button>
<app-form-wrapper [title]="'Add ratings review'">
  <form
    [formGroup]="reviewRatingForm"
    (ngSubmit)="
      isUpdate ? onUpdate(reviewRatingForm) : onSubmit(reviewRatingForm)
    "
  >
    <div class="row">
      <!-- ************************************* TASTE **************************************** -->
      <div class="col-md-4">
        <app-input-wrapper
          [inputTitle]="'Taste Rating'"
          [validation]="reviewRatingForm.get('tasteRating')"
        >
          <input
            type="number"
            formControlName="tasteRating"
            class="form-control"
          />
        </app-input-wrapper>
        <!-- Comment  -->
        <app-input-wrapper
          [inputTitle]="'Taste Comment'"
          [validation]="reviewRatingForm.get('tasteComment')"
        >
          <textarea
            type="text"
            formControlName="tasteComment"
            class="form-control"
          ></textarea>
        </app-input-wrapper>
      </div>
      <!-- ************************************* SERVICE **************************************** -->
      <div class="col-md-4">
        <app-input-wrapper
          [inputTitle]="'Service Rating'"
          [validation]="reviewRatingForm.get('serviceRating')"
        >
          <input
            type="number"
            formControlName="serviceRating"
            class="form-control"
          />
        </app-input-wrapper>
        <!-- Comment  -->
        <app-input-wrapper
          [inputTitle]="'Service Comment'"
          [validation]="reviewRatingForm.get('serviceComment')"
        >
          <textarea
            type="text"
            formControlName="serviceComment"
            class="form-control"
          ></textarea>
        </app-input-wrapper>
      </div>
      <!-- ************************************* ATMOSPHERE **************************************** -->
      <div class="col-md-4">
        <app-input-wrapper
          [inputTitle]="'Atmosphere Rating'"
          [validation]="reviewRatingForm.get('atmosphereRating')"
        >
          <input
            type="number"
            formControlName="atmosphereRating"
            class="form-control"
          />
        </app-input-wrapper>
        <!-- Comment  -->
        <app-input-wrapper
          [inputTitle]="'Atmosphere Comment'"
          [validation]="reviewRatingForm.get('atmosphereComment')"
        >
          <textarea
            type="text"
            formControlName="atmosphereComment"
            class="form-control"
          ></textarea>
        </app-input-wrapper>
      </div>
    </div>
    <app-submit-button [isUpdate]="isUpdate"></app-submit-button>
  </form>
</app-form-wrapper>
