<footer
  class="mt-5 mb-0 mx-auto py-5 text-muted text-center text-small bg-primary"
>
  <p class="mb-1 text-white">© 2019 PbP</p>
  <ul class="list-inline">
    <li class="list-inline-item"><a routerLink="/about">About</a></li>
    <li class="list-inline-item"><a routerLink="/about">Terms</a></li>
    <li class="list-inline-item"><a routerLink="/about">Support</a></li>
  </ul>
  <ul class="list-inline">
    <li *ngFor="let link of socialLinks" class="list-inline-item mx-2">
      <a href="link.link">
        <h2 class="text-dark">
          <fa-icon [icon]="link.icon" class=""></fa-icon>
        </h2>
      </a>
    </li>
  </ul>
</footer>
