<app-back-button [link]="'recipes/' + id"></app-back-button>
<app-form-wrapper [title]="'Add a comment'">
  <form
    [formGroup]="recipeCommentForm"
    (ngSubmit)="
      isUpdate ? onUpdate(recipeCommentForm) : onSubmit(recipeCommentForm)
    "
  >
    <!-- ************************************* TAGLINE **************************************** -->
    <app-input-wrapper
      [labelText]="'Tagline *'"
      [labelFor]="'tagLine'"
      [inputTitle]="'Add a short summary (max 150 chars)'"
      [validation]="recipeCommentForm.get('tagLine')"
    >
      <textarea
        type="text"
        formControlName="tagLine"
        class="form-control"
        rows="1"
      ></textarea>
    </app-input-wrapper>

    <!-- ************************************* MAIN COMMENT **************************************** -->
    <app-input-wrapper
      [labelText]="'Comment *'"
      [labelFor]="'mainComment'"
      [inputTitle]="'Main comment'"
      [validation]="recipeCommentForm.get('mainComment')"
    >
      <textarea
        type="text"
        formControlName="mainComment"
        class="form-control"
        rows="3"
        wrap="hard"
      ></textarea>
    </app-input-wrapper>
    <app-submit-button [isUpdate]="isUpdate"></app-submit-button>
  </form>
</app-form-wrapper>
