<app-back-button [link]="'recipes/' + id"></app-back-button>
<app-form-wrapper [title]="'Add photos'">
  <form [formGroup]="recipeImageForm" (ngSubmit)="onSubmit(recipeImageForm)">
    <!-- ************************************* Main Image **************************************** -->
    <div class="form-group">
      <label for="mainImage">Main Image</label>
      <app-form-label>Choose the main image for this review</app-form-label>
      <app-image-placeholder *ngIf="!imgSrc"></app-image-placeholder>
      <!-- <div class="img-thumbnail bg-secondary main-image p-2" > -->
      <img
        *ngIf="imgSrc"
        [src]="imgSrc"
        class="main-image"
        alt="selected-image"
        (click)="fileUploader.click()"
      />
      <!-- </div> -->
      <div class="custom-file mt-1">
        <input
          type="file"
          class="custom-file-input text-dark"
          formControlName="mainImage"
          #fileUploader
          (change)="showPreview($event)"
        />
        <label class="custom-file-label">Choose file</label>
      </div>
      <app-control-messages
        [control]="recipeImageForm.get('mainImage')"
      ></app-control-messages>
    </div>
    <app-submit-button [isUpdate]="isUpdate"></app-submit-button>
  </form>
</app-form-wrapper>
