@import "../../../scss/variables";
.small-icon {
  position: absolute;
  @include flexCenter();
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.circle-with-text {
  @include flexCenter();
  border-radius: 50%;
  width: 70px;
  height: 70px;
  font-size: 2rem;
}
