<app-back-button [link]="'recipes/' + id"></app-back-button>
<app-form-wrapper [title]="'Add Gallery'">
  <app-form-label
    >Choose one or more images to add to the gallery for this
    recipe</app-form-label
  >
  <div class="input-group mb-3">
    <div class="custom-file">
      <input
        type="file"
        class="custom-file-input"
        (change)="onSelectFiles($event.target.files)"
        multiple
      />
      <label class="custom-file-label">Choose file</label>
    </div>
  </div>

  <div *ngFor="let file of files; let i = index" class="px-3">
    <app-uploader
      [id]="id"
      [file]="file"
      [imageType]="'recipes'"
      (removeFile)="onRemoveFile($event, i)"
    ></app-uploader>
  </div>
  <button class="btn btn-block btn-success mt-2" (click)="onSubmit()">
    Done
  </button>
</app-form-wrapper>
