<!-- Buttons -->
<div class="d-flex bd-highlight mb-2 justify-content-between">
  <app-back-button [link]="'recipes'"></app-back-button>
  <app-edit-buttons
    *ngIf="recipe && isAuth"
    [id]="id"
    [buttons]="buttons"
    [link]="'recipes'"
    (onDeletion)="onDelete($event)"
  ></app-edit-buttons>
</div>
<!-- Spinner -->
<div *ngIf="!recipe">
  <app-spinner></app-spinner>
</div>
<!-- Title -->
<div *ngIf="recipe">
  <div class="card mb-3 border-primary">
    <app-card-title [title]="recipe.name">
      <h6 class="card-subtitle text-muted">{{ recipe.type }}</h6>
    </app-card-title>

    <!-- Tagline -->
    <app-section-wrapper>
      <app-tagline *ngIf="recipe.tagLine" [text]="recipe.tagLine"></app-tagline>
    </app-section-wrapper>

    <!-- Avatars -->
    <app-section-wrapper>
      <app-recipe-avatars
        [data]="[
          { icon: people, value: recipe.servesNumber },
          { icon: clock, value: recipe.prepTime },
          { icon: seedling, value: recipe.healthRating }
        ]"
      ></app-recipe-avatars>
    </app-section-wrapper>

    <!-- Image and comment -->

    <app-section-wrapper>
      <div class="row align-items-center">
        <div class="col-md-5 text-center m-auto">
          <app-main-image [imgSrc]="recipe.mainImage"></app-main-image>
        </div>
        <div class="col-md-7">
          <app-main-comment
            [mainComment]="recipe.mainComment"
          ></app-main-comment>
        </div>
      </div>
    </app-section-wrapper>

    <!-- Ingredients -->

    <div class="row">
      <div class="col-md-5">
        <app-section-wrapper [subtitle]="'Ingredients'">
          <app-ingredients-list
            [ingredients]="recipe.ingredients"
          ></app-ingredients-list>
        </app-section-wrapper>
      </div>

      <!-- Steps -->
      <div class="col-md-7">
        <app-section-wrapper [subtitle]="'Steps'">
          <app-steps-list [steps]="recipe.steps"></app-steps-list>
        </app-section-wrapper>
      </div>
    </div>

    <!-- Gallery -->

    <app-section-wrapper [subtitle]="'Gallery'">
      <app-carousel [images]="recipe.imageList"></app-carousel>
    </app-section-wrapper>
    <app-card-footer></app-card-footer>
  </div>
  <app-back-button [link]="'recipes'"></app-back-button>
</div>
