<div class="d-flex bd-highlight mb-2 justify-content-between">
  <div class="p-1 bd-highlight">
    <button type="button" class="btn btn-light btn-sm" routerLink="/recipes">
      Back
    </button>
  </div>
  <div class="p-1 btn-group btn-group-sm" *ngIf="recipe">
    <button
      type="button"
      routerLink="/recipes/edit/{{ id }}"
      class="btn btn-dark"
    >
      Edit
    </button>
    <button type="button" class="btn btn-danger" (click)="onDelete()">
      <fa-icon [icon]="trash" class="text-white"></fa-icon>
    </button>
  </div>
</div>

<div *ngIf="!recipe">
  <app-spinner></app-spinner>
</div>

<div class="card mb-3" *ngIf="recipe">
  <div class="card-header">
    <h3 class="text-primary font-weight-bold">
      {{ recipe.name }}
    </h3>
    <h6 class="card-subtitle text-muted">{{ recipe.type }}</h6>
  </div>

  <blockquote *ngIf="recipe.tagLine" class="blockquote text-center my-3">
    <p class="mb-0">
      <i>"{{ recipe.tagLine }}"</i>
    </p>
  </blockquote>

  <!-- icons -->
  <div class="card-body">
    <div class="row mb-1 d-flex justify-content-center">
      <div class="mx-auto mb-1">
        <fa-icon [icon]="utensils" class="small-icon bg-dark"></fa-icon>
        <div class="mx-auto circle-icon bg-primary">
          <div class="text-white">{{ recipe.servesNumber }}</div>
        </div>
      </div>
      <div class="mx-auto mb-1">
        <fa-icon [icon]="clock" class="small-icon bg-dark"></fa-icon>
        <div class="mx-auto circle-icon bg-primary">
          <div class="text-white">{{ recipe.prepTime }}'</div>
        </div>
      </div>
      <div class="mx-auto mb-1">
        <fa-icon [icon]="heart" class="small-icon bg-dark"></fa-icon>
        <div class="mx-auto circle-icon bg-primary">
          <div class="text-white">{{ recipe.healthRating }}</div>
        </div>
      </div>
    </div>
  </div>

  <!-- end icons -->
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <img
          style="width: 250px; height: 250px;"
          class="img-thumbnail rounded mx-auto d-block"
          src="https://picsum.photos/200/300"
          alt="Card image"
        />
      </div>
      <div class="col-md-8 px-2 my-2">
        <p class="card-text">
          {{ recipe.mainComment }}
        </p>
      </div>
    </div>
  </div>

  <!-- // TODO move images into a carousel component -->
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Gallery</h6>
    <app-carousel></app-carousel>
  </div>

  <div class="card-footer text-muted bg-primary text-right">
    <div><fa-icon [icon]="leaf" class=""></fa-icon> PbP</div>
  </div>
</div>
