<app-back-button [link]=""></app-back-button>
<app-jumbotron [title]="'Reviews'"></app-jumbotron>

<app-add-button
  *ngIf="isAuth"
  [text]="'review'"
  [link]="'/reviews/add-review'"
></app-add-button>

<div *ngIf="!reviews">
  <app-spinner></app-spinner>
</div>

<div class="row" *ngIf="reviews">
  <div class="col-sm-4" *ngFor="let review of reviews">
    <div class="card mb-3 " routerLink="/reviews/{{ review.id }}">
      <h5 class="card-header text-center text-white bg-primary">
        {{ review.name }}
      </h5>
      <div class="card-body">
        <h6 class="card-title">
          {{ review.city }},
          <small class="card-subtitle text-muted">{{ review.country }}</small>
        </h6>

        <img
          src="{{ review.mainImage || defaultImg }}"
          alt="Card image"
          class="img-thumbnail main-image"
        />
      </div>
      <div class="d-flex justify-content-between card-footer">
        <div class="text-muted">
          {{ review.dateVisited.toDate() | date }}
        </div>
        <div class="font-weight-bold">
          <fa-icon [icon]="leaf" class="text-success"></fa-icon>
          <!-- TODO - would be better if this came from component, and was dynamic -->
          {{
            (review.tasteRating +
              review.serviceRating +
              review.atmosphereRating) /
              3 | number: "1.0-1"
          }}
        </div>
      </div>
    </div>
  </div>
</div>
