<!-- Buttons -->
<div class="d-flex bd-highlight mb-2 justify-content-between">
  <app-back-button [link]="'reviews'"></app-back-button>
  <app-edit-buttons
    *ngIf="review && isAuth"
    [buttons]="buttons"
    [id]="id"
    [link]="'reviews'"
    (onDeletion)="onDelete($event)"
  ></app-edit-buttons>
</div>

<!-- Spinner -->
<div *ngIf="!review">
  <app-spinner></app-spinner>
</div>
<!-- Card -->
<div class="card mb-3" *ngIf="review">
  <!---------------------------------------------------Main Details---------------------------------------------- -->
  <app-card-title [title]="review.name">
    <h6 class="text-muted mb-1">
      {{ review.city }},
      <small>{{ review.country }}</small>
    </h6>
    <h6 class="text-primary">
      {{ review.dateVisited.toDate() | date }}
    </h6>
  </app-card-title>
  <!-- -----------------------------------------------Main Details------------------------------------------------ -->

  <app-tagline *ngIf="review.tagLine" [text]="review.tagLine"></app-tagline>
  <app-main-image-comment
    *ngIf="review.mainComment || review.mainImage"
    [mainComment]="review.mainComment"
    [mainImage]="review.mainImage"
  ></app-main-image-comment>
  <div class="card-body" *ngIf="review.images">
    <app-subtitle [text]="'Gallery'"></app-subtitle>
    <app-carousel></app-carousel>
  </div>
  <app-review-ratings
    *ngIf="overallRating"
    [ratings]="ratings"
    [overallRating]="overallRating"
  ></app-review-ratings>

  <app-card-footer [footerText]="review.website"></app-card-footer>
</div>
