<!-- Buttons -->
<div class="d-flex bd-highlight mb-2 justify-content-between">
  <app-back-button [link]="'reviews'"></app-back-button>
  <app-edit-buttons
    *ngIf="review && isAuth"
    [buttons]="buttons"
    [id]="id"
    [link]="'reviews'"
    (onDeletion)="onDelete($event)"
  ></app-edit-buttons>
</div>

<!-- Spinner -->
<div *ngIf="!review">
  <app-spinner></app-spinner>
</div>

<div *ngIf="review">
  <div class="card mb-3 border-primary">
    <!---------------------------------------------------Main Details---------------------------------------------- -->
    <app-card-title [title]="review.name">
      <h6 class="text-muted mb-1">
        {{ review.city }},
        <small>{{ review.country }}</small>
      </h6>
      <h6 class="text-primary">
        {{ review.dateVisited.toDate() | date }}
      </h6>
    </app-card-title>

    <!-- ---------------------------------------------Image and comment---------------------------------------------- -->
    <app-section-wrapper>
      <app-tagline *ngIf="review.tagLine" [text]="review.tagLine"></app-tagline>
    </app-section-wrapper>

    <app-section-wrapper>
      <div class="row align-items-center">
        <div class="col-md-5 text-center m-auto">
          <app-main-image [imgSrc]="review.mainImage"></app-main-image>
        </div>
        <div class="col-md-7">
          <app-main-comment
            [mainComment]="review.mainComment"
          ></app-main-comment>
        </div>
      </div>
    </app-section-wrapper>

    <!-- ---------------------------------------------Gallery--------------------------------------------- -->

    <app-section-wrapper [subtitle]="'Gallery'">
      <app-carousel
        *ngIf="review.imageList"
        [images]="review.imageList"
      ></app-carousel>
    </app-section-wrapper>
    <!-- ---------------------------------------------Ratings---------------------------------------------- -->
    <app-section-wrapper [subtitle]="'Ratings'">
      <app-review-ratings
        *ngIf="review.ratings"
        [ratings]="ratings"
      ></app-review-ratings>
    </app-section-wrapper>

    <div *ngIf="review.website" class="my-3 text-center">
      <div class="text-dark">{{ review.website }}</div>
    </div>
    <app-card-footer></app-card-footer>
  </div>
  <app-back-button [link]="'reviews'"></app-back-button>
</div>
