<app-back-button [link]="id ? 'reviews/' + id : 'reviews'"></app-back-button>
<app-form-wrapper [title]="'Add new review'">
  <form
    [formGroup]="reviewDetailsForm"
    (ngSubmit)="
      isUpdate ? onUpdate(reviewDetailsForm) : onSubmit(reviewDetailsForm)
    "
  >
    <div class="row">
      <!-- ************************************* NAME **************************************** -->
      <div class="col-md-8">
        <app-input-wrapper
          [labelText]="'Name *'"
          [labelFor]="'name'"
          [inputTitle]="'Name of the place'"
          [validation]="reviewDetailsForm.get('name')"
        >
          <input
            formControlName="name"
            class="form-control"
            [ngClass]="{
              'is-invalid': name.errors && name.touched
            }"
            required
          />
        </app-input-wrapper>
      </div>
      <!-- ************************************* DATE **************************************** -->
      <div class="col-md-4">
        <app-input-wrapper
          [labelText]="'Date *'"
          [labelFor]="'dateVisited'"
          [inputTitle]="'Date of visit *'"
          [validation]="reviewDetailsForm.get('dateVisited')"
        >
          <input
            formControlName="dateVisited"
            class="form-control"
            bsDatepicker
            [bsConfig]="bsConfig"
            [ngClass]="{
              'is-invalid': dateVisited.errors && dateVisited.touched
            }"
            required
          />
        </app-input-wrapper>
      </div>
    </div>
    <!-- ************************************* LOCATION **************************************** -->
    <label>Location</label>
    <div class="row">
      <!-- City -->
      <div class="col-md-6">
        <app-input-wrapper
          [inputTitle]="'City'"
          [validation]="reviewDetailsForm.get('city')"
        >
          <input
            type="text"
            formControlName="city"
            class="form-control"
            [ngClass]="{
              'is-invalid': city.errors && city.touched
            }"
            required
          />
        </app-input-wrapper>
      </div>
      <!-- Country -->
      <div class="col-md-6">
        <app-input-wrapper
          [inputTitle]="'Country'"
          [validation]="reviewDetailsForm.get('country')"
        >
          <input type="text" formControlName="country" class="form-control" />
        </app-input-wrapper>
      </div>
    </div>

    <!-- ************************************* WEBSITE **************************************** -->
    <app-input-wrapper
      [labelText]="'Website'"
      [labelFor]="'website'"
      [inputTitle]="'Place\'s own website'"
      [validation]="reviewDetailsForm.get('website')"
    >
      <input type="text" formControlName="website" class="form-control" />
    </app-input-wrapper>
    <app-submit-button [isUpdate]="isUpdate"></app-submit-button>
  </form>
</app-form-wrapper>
