<app-back-button [link]="id ? 'recipes/' + id : 'recipes'"></app-back-button>
<app-form-wrapper [title]="'Add new recipe'">
  <form
    [formGroup]="recipeDetailsForm"
    (ngSubmit)="
      isUpdate ? onUpdate(recipeDetailsForm) : onSubmit(recipeDetailsForm)
    "
  >
    <div class="row">
      <!-- ************************************* NAME **************************************** -->
      <div class="col-md-8">
        <app-input-wrapper
          [labelText]="'Name *'"
          [labelFor]="'name'"
          [validation]="recipeDetailsForm.get('name')"
        >
          <input
            formControlName="name"
            class="form-control"
            [ngClass]="{
              'is-invalid': name.errors && name.touched
            }"
            required
            maxlength="50"
          />
        </app-input-wrapper>
      </div>
      <!-- ************************************* TYPE **************************************** -->
      <div class="col-md-4">
        <app-input-wrapper
          [labelText]="'Type *'"
          [labelFor]="'type'"
          [validation]="recipeDetailsForm.get('type')"
        >
          <select
            formControlName="type"
            [ngClass]="{
              'is-invalid': type.errors && type.touched
            }"
            class="form-control"
            required
          >
            <option value="Starter">Starter</option>
            <option value="Side">Side</option>
            <option value="Main">Main</option>
            <option value="Dessert">Dessert</option>
          </select>
        </app-input-wrapper>
      </div>
      <!-- ************************************* Serves **************************************** -->
      <div class="col-4">
        <app-input-wrapper
          [inputTitle]="'Serves (no. of people)'"
          [validation]="recipeDetailsForm.get('servesNumber')"
        >
          <input
            type="number"
            formControlName="servesNumber"
            class="form-control"
            [ngClass]="{
              'is-invalid': servesNumber.errors && servesNumber.touched
            }"
            required
            min="1"
            max="99"
          />
        </app-input-wrapper>
      </div>

      <!-- ************************************* Prep Time **************************************** -->
      <div class="col-4">
        <app-input-wrapper
          [inputTitle]="'Prep Time (in mins)'"
          [validation]="recipeDetailsForm.get('prepTime')"
        >
          <input
            type="number"
            formControlName="prepTime"
            class="form-control"
            [ngClass]="{
              'is-invalid': prepTime.errors && prepTime.touched
            }"
            required
            min="1"
            max="999"
          />
        </app-input-wrapper>
      </div>
      <!-- ************************************* Health Rating **************************************** -->
      <div class="col-4">
        <app-input-wrapper
          [inputTitle]="'Health Rating (out of 10)'"
          [validation]="recipeDetailsForm.get('healthRating')"
        >
          <input
            type="number"
            formControlName="healthRating"
            class="form-control"
            [ngClass]="{
              'is-invalid': healthRating.errors && healthRating.touched
            }"
            required
            min="1"
            max="10"
          />
        </app-input-wrapper>
      </div>
    </div>
    <app-submit-button [isUpdate]="isUpdate"></app-submit-button>
  </form>
</app-form-wrapper>
