<app-subtitle>About</app-subtitle>
<app-back-button [link]="'/'"></app-back-button>
<app-page-wrapper>
  <hr />
  <h5 class="text-primary">What is PbP?</h5>
  <p class="text-secondary">Plant based ponch is ...</p>
  <hr />
  <h5 class="text-primary">Requests / Suggestions</h5>
  <p class="text-secondary">
    If you have any suggestions get in touch with PbP via a direct message on
    <a href="https://www.instagram.com/plantbasedponch/">Instagram</a>.
  </p>
  <hr />
  <h5 class="text-primary">Advertising</h5>
  <p class="text-secondary">
    If you wish to advertise on the site, please get in touch with Plant Based
    Ponch directly via a direct message on
    <a href="https://www.instagram.com/plantbasedponch/">Instagram</a>.
  </p>
  <hr />
  <h5 class="text-primary">Technical Issues</h5>
  <p class="text-secondary">
    Developed and maintained by
    <a href="https://jwellwood.github.io/profile/">jwellwood</a>. If you notice
    a problem with this website, please contact the developer directly following
    the the link. Source code available to view on Github
    <a href="https://github.com/jwellwood/recipes-and-reviews">here</a>.
  </p>
  <hr />
  <h5 class="text-primary">Disclaimer</h5>
  <p class="text-secondary">
    All views expressed here are solely those of the author
  </p>
  <hr />
</app-page-wrapper>
