<app-page-wrapper>
  <carousel-component
    [mode]="'horizontal'"
    [perspective]="0"
    [initialSlide]="1"
    [timeToSlide]="1000"
    #topCarousel
    [angle]="1"
    [threshold]="120"
    class="bg-primary border border-primary rounded-lg"
  >
    <div class="item-carousel" *ngFor="let image of images; let i = index">
      <div>
        <app-gallery-image
          [imgSrc]="image.url"
          [arrLength]="images.length"
          [index]="i"
        ></app-gallery-image>
      </div>
    </div>
  </carousel-component>
</app-page-wrapper>
