<!-- TODO - add an explanation about what is happening in this template -->

<app-back-button [link]="id ? 'reviews/' + id : 'reviews'"></app-back-button>
<app-form-wrapper [title]="'Add Ratings'">
  <form
    [formGroup]="addRatingsForm"
    (ngSubmit)="isUpdate ? onUpdate(addRatingsForm) : onSubmit(addRatingsForm)"
  >
    <div
      formArrayName="ratings"
      *ngFor="
        let rating of addRatingsForm.get('ratings').controls;
        let i = index
      "
      class="card border-dark mb-1 p-2"
    >
      <div [formGroupName]="i" class="row align-items-center">
        <!-- ************************************* Title **************************************** -->
        <div class="col-md-3">
          <app-input-wrapper [inputTitle]="'Rating type'">
            <input
              formControlName="title"
              class="form-control form-control-sm"
              required
            />
          </app-input-wrapper>
        </div>
        <!-- ************************************* Score **************************************** -->
        <div class="col-md-1">
          <app-input-wrapper [inputTitle]="'Score'">
            <input
              type="number"
              formControlName="score"
              class="form-control form-control-sm"
              required
            />
          </app-input-wrapper>
        </div>
        <!-- ************************************* Comment **************************************** -->
        <div class="col-md-6">
          <app-input-wrapper [inputTitle]="'Comment'">
            <textarea
              formControlName="comment"
              class="form-control form-control-sm"
              rows="1"
            ></textarea>
          </app-input-wrapper>
        </div>
        <!-- ************************************* BUTTONS **************************************** -->
        <div class="col-md-2 text-center">
          <app-input-buttons
            [index]="i"
            (onAdd)="addField($event, i)"
            (onRemove)="removeField($event, i)"
          ></app-input-buttons>
        </div>
      </div>
    </div>

    <app-submit-button [isUpdate]="isUpdate"></app-submit-button>
  </form>
</app-form-wrapper>
