<div class="p-3">
  <app-subtitle [text]="'Admin'"></app-subtitle>
  <div *ngIf="isAuth">
    <p>
      Logged in as <strong>{{ authUser }}</strong>
    </p>
    <div>
      <button class="btn btn-primary" (click)="onLogout()">
        Logout
      </button>
    </div>
    <div class="btn-group mt-2">
      <button class="btn btn-secondary" [routerLink]="'recipe-list'">
        Recipes
      </button>
      <button class="btn btn-secondary" [routerLink]="'review-list'">
        Reviews
      </button>
    </div>
  </div>
  <div *ngIf="!isAuth">
    <div>
      <button class="btn btn-primary" [routerLink]="'login'">
        login
      </button>
    </div>
  </div>
</div>
