<div dropdown placement="bottom right">
  <div
    dropdownToggle
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="dropdown-animated"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <fa-icon [icon]="leaf"></fa-icon>
  </div>
  <ul
    id="dropdown-animated"
    *dropdownMenu
    class="dropdown-menu dropdown-menu-right mr-1"
    role="menu"
    aria-labelledby="button-alignment"
  >
    <li role="menuitem">
      <a
        class="dropdown-item text-light"
        [routerLink]="['/']"
        routerLinkActive="router-link-active"
        >Home</a
      >
    </li>
    <li role="menuitem">
      <a
        class="dropdown-item text-light"
        [routerLink]="['/recipes']"
        routerLinkActive="router-link-active"
        >Recipes</a
      >
    </li>
    <li role="menuitem">
      <a
        class="dropdown-item text-light"
        [routerLink]="['/reviews']"
        routerLinkActive="router-link-active"
        >Reviews</a
      >
    </li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem">
      <a
        class="dropdown-item text-secondary"
        [routerLink]="['/about']"
        routerLinkActive="router-link-active"
        >About</a
      >
    </li>
  </ul>
</div>
