<app-back-button [link]="'reviews/' + id"></app-back-button>
<app-form-wrapper [title]="'Add photos'">
  <form [formGroup]="reviewImageForm" (ngSubmit)="onSubmit(reviewImageForm)">
    <div class="form-group">
      <label for="mainImage">Main Image</label>
      <app-form-label>Choose the main image for this review</app-form-label>
      <app-main-image [imgSrc]="imgSrc"></app-main-image>
      <div class="custom-file mt-1">
        <input
          type="file"
          class="custom-file-input text-dark"
          formControlName="mainImage"
          #fileUploader
          (change)="showPreview($event)"
        />
        <label class="custom-file-label">Choose file</label>
      </div>
      <app-control-messages
        [control]="reviewImageForm.get('mainImage')"
      ></app-control-messages>
    </div>
    <app-submit-button [isUpdate]="isUpdate"></app-submit-button>
  </form>
</app-form-wrapper>
