<div dropdown placement="bottom right">
  <div
    dropdownToggle
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
  >
    <fa-icon [icon]="leaf"></fa-icon>
  </div>
  <ul
    id="dropdown-animated"
    *dropdownMenu
    class="dropdown-menu dropdown-menu-right mr-1 bg-primary"
    role="menu"
    aria-labelledby="button-animated"
  >
    <!-- Internal links -->
    <li *ngFor="let link of links" role="menuitem">
      <a class="dropdown-item text-white" routerLink="{{ link.link }}">{{
        link.title
      }}</a>
    </li>
    <li class="divider dropdown-divider"></li>
    <!-- Social media links -->
    <li *ngFor="let link of socialLinks" role="menuitem">
      <a class="dropdown-item text-info" href="{{ link.link }}">
        <fa-icon [icon]="link.icon"></fa-icon>
        {{ link.title }}</a
      >
    </li>
    <li class="divider dropdown-divider"></li>
    <!-- Other links -->
    <li role="menuitem">
      <a class="dropdown-item text-white" [routerLink]="'/about'">About</a>
    </li>
    <div *ngIf="isAuth">
      <li class="divider dropdown-divider"></li>
      <li role="menuitem" class="bg-info">
        <a class="dropdown-item  text-primary" [routerLink]="'/admin'">Admin</a>
      </li>
    </div>
  </ul>
</div>
