<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" [routerLink]="'/'">PbP</a>
  <!-- Mobile screens -->
  <app-nav-dropdown
    [isAuth]="isAuth"
    [socialLinks]="socialLinks"
  ></app-nav-dropdown>
  <!-- Full Screens -->
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a
          class="nav-link"
          [routerLink]="'/recipes'"
          routerLinkActive="router-link-active"
          >Recipes <fa-icon [icon]="leaf"></fa-icon
        ></a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="'/reviews'"
          routerLinkActive="router-link-active"
          >Reviews <fa-icon [icon]="leaf"></fa-icon
        ></a>
      </li>
    </ul>
    <!-- Social media links -->
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
      <li *ngFor="let link of socialLinks" class="nav-item">
        <a class="nav-link" href="{{ link.link }}">
          <fa-icon [icon]="link.icon" class="text-white"></fa-icon>
        </a>
      </li>

      <li class="nav-item" *ngIf="isAuth">
        <a class="nav-link" [routerLink]="['/admin']">
          <fa-icon [icon]="admin" class="text-info"></fa-icon>
        </a>
      </li>
    </ul>
  </div>
  <!-- End fullscreen -->
</nav>
