<!-- Image -->
<div *ngIf="!downloadUrl">
  <div class="media">
    <app-form-list-image *ngIf="imgSrc" [imgSrc]="imgSrc"></app-form-list-image>

    <div class="media-body align-self-center">
      <!-- Progress -->
      <div class="progress" style="height: 20px;">
        <div
          *ngIf="percentage | async as pct"
          [ngClass]="{ 'bg-warning': !downloadUrl, 'bg-success': downloadUrl }"
          class="progress-bar w-100"
          role="progressbar"
          aria-valuenow="pct"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          {{ pct | number }}%
        </div>
      </div>
      <div *ngIf="snapshot | async as snap"></div>
    </div>
    <!-- Button -->
    <div class="align-self-center ml-2">
      <button
        *ngIf="!downloadUrl"
        (click)="startUpload()"
        class="btn btn-outline-primary"
        [disabled]="isUploading"
      >
        Upload
      </button>
    </div>
  </div>
</div>
