/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootswatch/dist/litera/variables";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/bootswatch/dist/lumen/bootstrap.min.css";
@import "./scss/variables";
body {
  // font-family: "Patrick Hand", cursive;
  min-height: 100vh;
}

.main-image {
  width: 238px;
  height: 238px;
  display: block;
  margin: auto;
}

.gallery-image {
  width: 108px;
  height: 108px;
  display: block;
  margin: auto;
}
