<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark mb-2">
  <div class="col-md-6 px-0">
    <h1 class="display-4 font-italic text-primary">
      {{ title }}
    </h1>
    <p class="lead my-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate omnis
      harum amet repellendus, blanditiis tempore vero possimus voluptatibus
      iusto dolor. Quisquam sunt dolorem beatae dicta libero ipsa nobis
      similique placeat?
    </p>
    <p class="lead mb-0">
      <a href="#" class="text-white font-weight-bold">Check it out!</a>
    </p>
  </div>
</div>
